.synth {
  width: 1256px;
  height: 384px;
  background: #c0c0c0;
  padding: 16px;
}

.synthNaturalNotes,
.synthSharpNotes {
  display: flex;
  justify-content: center;
}

.synthSharpNotes {
  position: absolute;
  left: -3px;
  width: 100%;
}
