.synth {
    width: 1256px;
    height: 384px;
    background: black;
}

.synth__natural__notes,
.synth__sharp__notes {
    display: flex;
    justify-content: center;
}

.synth__sharp__notes {
    position: absolute;
    margin-left: 15px;
}

.synth__natural__note {
    width: 64px;
    height: 384px;
    background: white;
    border: 2px solid black;
    cursor: pointer;
}
.synth__sharp__note {
    width: 32px;
    height: 256px;
    background: black;
    border: 2px solid black;
    cursor: pointer;
    margin-right: 32px;
}

.synth__sharp__note--separator {
    margin-right: 99px;
}