.synthSharpNote {
  cursor: pointer;
    width: 46px;
    height: 256px;
    background: black;
    margin: 0px 16px;
    z-index: 99;
}

.synthSharpNoteTriggered {
  background: red;
}

.synthSharpNoteSeparator {
  margin-right: 86px;
}
