.synthSharpNote {
  width: 32px;
  height: 256px;
  background: black;
  border: 2px solid black;
  cursor: pointer;
  margin-right: 32px;
}

.synthSharpNoteTriggered {
  background: red;
}

.synthSharpNoteSeparator {
  margin-right: 99px;
}
