.synthSharpNote {
  cursor: pointer;
  width: 32px;
  height: 256px;
  background: black;
  margin-right: 32px;
  z-index: 99;
}

.synthSharpNoteTriggered {
  background: red;
}

.synthSharpNoteSeparator {
  margin-right: 99px;
}
